<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Produto</title>
</head>
<body>

<h1 th:text="${produto.id != null} ? 'Editar Produto' : 'Novo Produto'"></h1>

<form th:action="@{/produtos/salvar}" th:object="${produto}" method="post">

  <input type="hidden" th:field="*{id}"/>

  <!-- Nome -->
  <div>
    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required/>
  </div>

  <br/>

  <!-- Valor Venda -->
  <div>
    <label>Valor de Venda:</label>
    <input type="number"
           step="0.01"
           th:field="*{valorVenda}"
           required/>
  </div>

  <br/>

  <!-- Categoria -->
  <div>
    <label>Categoria:</label>

    <select th:field="*{categoria}" required>
      <option value="">Selecione...</option>
      <option value="LANCHE">Lanche</option>
      <option value="BEBIDA">Bebida</option>
      <option value="PORCAO">Porção</option>
      <option value="OUTRO">Outro</option>
    </select>
  </div>

  <br/><br/>

  <!-- INGREDIENTES -->
  <!-- INGREDIENTES -->
  <h3>Ingredientes</h3>

  <div th:each="ing, i : ${ingredientesDisponiveis}">

    <input type="hidden"
           th:field="*{ingredientes[__${i.index}__].id}" />

    <input type="hidden"
           th:field="*{ingredientes[__${i.index}__].produtoId}" />

    <input type="hidden"
           th:field="*{ingredientes[__${i.index}__].ingredienteId}" />

    <label>

      <input type="checkbox"
             th:field="*{ingredientes[__${i.index}__].selecionado}" />

      <span th:text="${ing.nome}"></span>

    </label>

    <input type="number"
           step="0.01"
           min="0"
           th:field="*{ingredientes[__${i.index}__].quantidade}" />

    <br/>

  </div>
  <br/><br/>

  <!-- ADICIONAIS -->
  <!-- ADICIONAIS -->
  <h3>Adicionais Permitidos</h3>

  <div th:each="adc, i : ${adicionaisDisponiveis}">

    <input type="hidden"
           th:field="*{adicionaisPermitidos[__${i.index}__].id}" />

    <input type="hidden"
           th:field="*{adicionaisPermitidos[__${i.index}__].produtoId}" />

    <input type="hidden"
           th:field="*{adicionaisPermitidos[__${i.index}__].adicionalId}" />

    <label>

      <input type="checkbox"
             th:field="*{adicionaisPermitidos[__${i.index}__].selecionado}" />

      <span th:text="${adc.nome}"></span>

    </label>

    <br/>

  </div>

  <br/><br/>

  <button type="submit">Salvar</button>

  <a th:href="@{/produtos}">
    Cancelar
  </a>

</form>

</body>
</html>