<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>

<h1>Dashboard</h1>

<ul>
    <li><a th:href="@{/produtos}">Produtos</a></li>
    <li><a th:href="@{/ingredientes}">Ingredientes</a></li>
    <li><a th:href="@{/estoque}">Estoque</a></li>
    <li><a th:href="@{/pedidos}">Pedidos</a></li>
    <li><a th:href="@{/despesas}">Despesas</a></li>
    <li><a th:href="@{/adicionais}">Adicionais</a></li>
    <li><a th:href="@{/compras}">Compras</a></li>
    <li><a th:href="@{/relatorios/financeiro}">Relatório Financeiro</a></li>
</ul>

</body>
</html>